{% extends "base.html" %} {% block content %}
<div class="md:grid grid-cols-6 gap-4 md:mt-12 sm:mb-8">
  <div class="rounded-lg text-gray-100 md:ml-8 sm:w-[80%]  bg-slate-400 outline outline-2 shadow-lg outline-cyan-300 ">
    <h1 class="text-[35px] px-2">New Hero</h1>
    <form action={% url 'add_hero' %} method="POST" enctype="multipart/form-data" class="md:flex flex-col space-y-4 md:px-2">
      {% csrf_token %}
      <div class="">
        <label for="name">Name</label>
        <input
          type="text"
          name="name" required
          id=""
          class="bg-gray-400 w-[99%] text-[32px] outline outline-1 outline-gray-200 rounded-lg"
        />
      </div>
      <div>
        <label for="name">Description</label>
        <textarea required
          type="textarea"
          name="description"
          id=""
          class="bg-gray-400 text-[16px] w-[99%] h-[102px] outline outline-1 outline-gray-200 rounded-lg"
        ></textarea>
      </div>
      <label>
        <input name="photo-file" type="file" class="text-sm text-grey-500
        file:mr-5 file:py-2 file:px-6
        file:rounded-full file:border-0
        file:text-sm file:font-medium
        file:bg-blue-50 file:text-blue-700
        hover:file:cursor-pointer hover:file:bg-amber-50
        hover:file:text-amber-700
      " />
    </label>

      <button
        type="submit"
        class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Submit
      </button>
    </form>
  </div>
  {% for hero in heroes%}
    <div class="outline outline-2 shadow-xl relative bg-gray-400 hover:shadow-blue-700 hover:shadow-2xl transition-all duration-500  outline-blue-700 rounded-xl">
        <div class="md:flex flex-col  ">
            <div class="h-[60%]">
                <img class="p-1 rounded-xl h-[250px]" src="{{hero.photo.url}}" alt="{{hero.name}}">
            </div>
            <div class="h-[30%] px-1">
                <h3 class="text-[20px] mb-2">{{hero.name}}</h3>
                <div class="break-all text-[12px]">
                    <p class="">{{hero.description}}</p>
                </div>
                <div class=" mt-12 ml-4 text-md">
                  {% if hero.user == user%}
                  <a href="" class = "absolute bottom-2 left-4 "><button class="rounded-full outline outline-1 text-blue-700 bg-white  outline-green-300 py-2 px-12">Edit</button></a>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
  {% endfor %}
</div>

{% endblock content %}
